<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script type="text/javascript" src="../../hola.js"></script>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--<button onclick="saludar()" type="button" name="buttom">Saludar</button> -->
    <div class="container">
      <div class="row">
        <img class="col-lg-8" class="col-xs-12" src="https://image.flaticon.com/icons/svg/2091/2091681.svg" width="200px" height="150px" alt="">
      </div>
      <div class="row">
        <button on-click="incrementar" class = "btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar datos</button>
      </div>

      <div class="row">
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" />
        <br />
        <input type="text" name="" value="[[prop1]]" />
        <!-- [[]] unidireccional-->
        <!-- {{}} bidireccional-->
      </div>

      <div clas = "row">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Diana</td>
              <td>Alvarado</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }

      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value: 'Proporcione su usuario'
          }
        };
      }

      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop2);
      }

    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
